<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>

    <h1>Calculator</h1>

    <form id="data" method="post">
        <p>
            p1:
            <input placeholder="The first parameter:" name="a" form="data">
        </p>
        <p>
            p2:
            <input placeholder="The second parameter:" name="b" form="data">
        </p>
        <p>
            Choose the operation:
            <select name="operation" form="data">
                <option>Add</option>
                <option>Subtract</option>
                <option>Multiply</option>
                <option>Divide</option>
            </select>
        </p>
        <p>
            <button type="submit">Calculate</button>
        </p>
    </form>

</body>
</html>