<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <h2>Parameters, you have entered, must be valid!</h2>
    <a href = "/rest/calc">Вернуться на исходную страницу</a>
</body>
</html>